
/* import fonts from fonts.css file */ 
/* @import url(./fonts.css); */


/* css variables */ 
@import url(./variables.css);


/* import global styling */ 
@import url(./global.css);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* start navigation */ 

/* 
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
} */
.date {
  color: rgba(0,0,0,0.4);
}

.header_area .main-menu .navbar{
    padding: 1% 10%;
}

.navbar-brand{
    font: normal 100 15px/2px var(--poppins);
    
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--poppins);
    text-transform: uppercase;
    padding: 2rem 1rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end navigation */ 

























